.header {
    height: 8.5vh;
    padding: 0 20px;
    font-size: 18px;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 99999999;
    background: #FFF;
    box-shadow: 0 4px 20px #95959526;
    transition: all .4s;
    color: #000;
    font-weight: 500;
    gap: 10px 0;
}

.main {
    height: 85vh;
    overflow: auto;
}

.footer {
    height: 6.5vh;
}