.field label::before {
    content: attr(title);
    position: absolute;
    top: -8px;
    left: 18px;
    line-height: 10px;
    padding: 0px 5px;
    transition: 300ms all;
    color: #85848E;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    background-color: #fff;
}

.field {
    position: relative;
    margin: 12px 0;
    padding: 0 10px;

    input,
    select {
        width: 100%;
        line-height: 40px;
        height: 40px;
        padding: 0 5px;
        box-sizing: border-box;
        font-size: 15px;
        color: #222;
        border-radius: 10px;
        border: 1px solid #D9D9D9;
        background: #FFF;

        &:focus {
            outline: 0;
            border-color: #009846;
        }

        &:focus+label::before {
            color: #136481;
            border-color: #136481;
        }
    }

    textarea {
        width: 100%;
        height: 40px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 15px;
        color: #222;
        border-radius: 10px;
        border: 1px solid #D9D9D9;
        background: #FFF;
        resize: none;

        &:focus {
            outline: 0;
            border-color: #009846;
        }

        &:focus+label::before {
            color: #136481;
            border-color: #009846;
        }

    }
}

.active-menu-item {
    font-weight: 600 !important;
    border-bottom: 3px solid #F47011;
}

.statusIcon {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
  }